<div class = "main">
  <div class = "header">
  </div>

  <div class = "video">
    <video class = "video_view" src="<%= rails_blob_path(@question.video) %>" type="video/mp4" controls></video>
  </div>

  <div class = "hints">
    <div class = "hint_title">
      ヒント
    </div>
    <div class = hint>
      <%= @question.hint %>
    </div>
  </div>

  <div class = "answers_list">
    <% array = [(link_to "A： " + @question.correct, questions_path, class: :answer_a), (link_to "B： " + @question.wrong_2, shuwa_index_path, class: :answer_b),
    (link_to "C： " + @question.wrong_1, shuwa_index_path, class: :answer_c), (link_to "D： " + @question.wrong_3, shuwa_index_path, class: :answer_d)] %>
    <% array.shuffle! %>
    <div class = "answers" >
      <div class = "left" >
        <%= array[0] %>
        <%= array[1] %>
      </div>
      <div class = "right" >
        <%= array[2] %>
        <%= array[3] %>
      </div>
    </div>
  </div>
</div>