<div class="main_create">
  <div class = "header">
    <div class = "top_btn">
      <%= link_to "TOPページ", shuwa_index_path, class: :top_white_btn %>
    </div>
  </div>
  <div class = page_title>
  ログイン
  </div>
  <div class="login_items">
    <h2>ログイン情報</h2>
    <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <div class="field">
        <%= f.label :Eメール %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :パスワード %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>
  </div>
</div>
